h1
{
    font-size: 24px; 
    color:black;
}
h2 
{
    font-size: 20px;
    color:brown; 
}
h3
{
    font-size: 18px;
    color:indigo;
}
h4
{
    font-size: 16px;
    color:darkgreen;
}
span.highlight
{
    background-color:yellow;
}
