body {
    font-family: 'Arial', sans-serif;
    background-color: #ffca81;
    margin: 0;
    padding: 0;
}
#centralgrid {
    display:grid;
    margin: 0, auto;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 250px);
    width: 1000px;
    margin: 0 auto;
    height: 750px;
}
.grid-item {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    padding: 10px;
    margin: 10px;
    background-color: rgb(254, 209, 141);
}
.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
#gamesBox{
    width: 960px;
}
#myTitle {
    font-family: 'Arial', sans-serif; 
    color: #FFA500; 
    text-shadow: 2px 2px 4px #DDDDDD; 
    font-size: 48px; 
    background-color: #FFF8DC; 
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin-top: 20px; 
    border: 1px solid #FFD700; 
}
.box-title {
    font-family: 'Helvetica', sans-serif; 
    color: #0077CC; 
    text-shadow: 1px 1px 2px #FFFFFF; 
    font-size: 24px;
    background-color: #E6E6FA; 
    padding: 4px 8px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    text-align: center; 
    margin-bottom: 10px; 
    border: 1px solid #B0C4DE; 
    margin-top: 0;
}
.myPic
{
width: 75px;
height: 75px;
margin: 10px;
}

.box-content {
    font-family: 'Open Sans', sans-serif; 
    color: #333333; 
    font-size: 16px; 
    line-height: 1.2; 
    text-align: left; 
    margin-top: 10px; 
    overflow-y: auto; 
    height: calc(100% - 60px); 
}

#weatherBox .myPic
{
    width: 75px;
    height: 75px;
    margin: 10px;
}

#spotifyBox .myPic
{
    width: 75px;
    height: 75px;
    margin: 10px;
}

.home {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    align-self: left; 
  }
  #homeView
  {
        background-color: rgb(215, 233, 255);
  }